/*
Colors used:
#005a9d         - Mayster corporate color
#003660         - Darker color
lightsteelblue  - Disabled color
*/

.container .form-container {
    background-color: #DCE2E4;
    height: 600px;
}

.form-left {
    /*    background-color: yellow;*/
    height: 100%;
    padding: 0px;
}

.form-right {
    /*    background-color: lawngreen;*/
    height: 100%;
    padding: 0px;
}

.left-head {
    /*    background-color: darkgreen;*/
    height: 10%;
}

#progressbar {
    margin: 0px;
    padding: 0px;
}

#progressbar li {
    list-style-type: none;
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
    font-size: smaller;
    text-transform: uppercase;
}

#progressbar li:after{
    content: '\00a0';
	display: block;
    position: absolute;
    top: 40px;
    height: 10px;
    width: 100%;
	background: white;
    border-right: 1px solid #005a9d;
    border-top: 1px solid #005a9d;
    border-bottom: 1px solid #005a9d;
}

#progressbar li:first-child:after {
    /* Because of border-collapse: collapse; didn't work */
    border-left: 1px solid #005a9d;
}

.left-content {
    /*    background-color: forestgreen;*/
    height: 80%;
}

.left-content fieldset:not(:first-of-type) {
    display: none;
}

.left-foot {
    /*    background-color: limegreen;*/
    height: 10%;
    text-align: center;
    padding-top: 1.5%
}

.right-head {
    /*    background-color: blue;*/
    height: 10%;
}

.right-content {
    /*    background-color: lightcoral;*/
    height: 80%;
}

.right-foot {
    /*    background-color: orangered;*/
    height: 10%;
}